# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo


#Ignore testing file

tests/
backup/
user.txt
credentials.json
*.log
.streamlit/secrets.toml
allocation_context.txt

# Ignore OS-specific files
.DS_Store
Thumbs.db
desktop.ini
**/desktop.ini